<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>checkbox</h1>
        <form action="{% url 'insert_mul_web' %}" method="POST">
            {% csrf_token %}
            Topicname:
            <br>


            {% for TO in QLTO %}
            <label for="tn">{{TO.topic_name}}</label>
            <input type="checkbox" name="tn" id="tn" value="{{TO.topic_name}}">
            <br>
            {% endfor %}
            <input type="submit" value="checkbox">
        </form>
    </center>
</body>
</html>